<script>
  $(document).ready(function(){

    $(document).on('click', '#loginButton1', function(){
      $('#box1').html('<form class="" action="/fight" method="post"><input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"><p>Pin:</p><input type="text" name="player[pin]" value=""><br><input type="submit" value="Begin"></form><button id="reset1">Reset</button>')
    });

    $(document).on('click', '#registerButton1', function(){
      $('#box1').html("<h2>Register</h2><form class='' action='/reg' method='post'><input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'><p>First Name:<input type='text' name='player[first_name]' value=''></p><p>Last Name:<input type='text' name='player[last_name]' value=''></p><p>Email:<input type='text' name='player[email]' value=''></p><p>Pin:<input type='text' name='player[pin]' value=''></p></form><button id='reset1'>Reset</button>")
    });

    $(document).on('click', '#reset1', function(){
      $('#box1').html("<button type='button' id='loginButton1'>Login</button><img id='net' src='/assets/net2.jpg' alt=''/><button type='button' id='registerButton1'>Register</button>")
      });

    $(document).on('click', '#loginButton2', function(){
      $('#box2').html('<form class="" action="/fight" method="post"><input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"><p>Pin:</p><input type="text" name="player[pin]" value=""><br><input type="submit" value="Begin"></form><button id="reset2">Reset</button>')
    });

    $(document).on('click', '#registerButton2', function(){
      $('#box2').html("<h2>Register</h2><form class='' action='/reg' method='post'><input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'><p>First Name:<input type='text' name='player[first_name]' value=''></p><p>Last Name:<input type='text' name='player[last_name]' value=''></p><p>Email:<input type='text' name='player[email]' value=''></p><p>Pin:<input type='text' name='player[pin]' value=''></p></form><button id='reset2'>Reset</button>")
    });
    $(document).on('click', '#reset2', function(){
      $('#box2').html("<button type='button' id='loginButton2'>Login</button><img id='net' src='/assets/net2.jpg' alt=''/><button type='button' id='registerButton2'>Register</button>")
      });
  })
</script>
<div class="pingponglogo">
    <h3>Ping</h3>
    <img id="logo" src="/assets/PingPongLogo2.png" alt=""/>
    <h3>Pong</h3>
</div>
<div class="container">
    <div id="box1">
        <button type="button" id='loginButton1'>Login</button>
        <img id="net" src="/assets/net2.jpg" alt=""/>
        <button type="button" id='registerButton1'>Register</button>
    </div>


    <div id="box2">
      <button type="button" id='loginButton2'>Login</button>
      <img id="net" src="/assets/net2.jpg" alt=""/>
      <button type="button" id='registerButton2'>Register</button>
    </div>
</div>
